include src/ldpc/README.md
include src/ldpc/LICENSE
include src/ldpc/VERSION
include src/ldpc/*.pxd
include src/ldpc/*.pyx
include src/ldpc/include/*.h
include src/ldpc/include/*.c
include src/ldpc/include/COPYRIGHT
include src/ldpc/include/README.md
